PORT=3000
JWT_SECRET=replace_with_a_long_random_string
MONGO_URI=mongodb://localhost:27017/nexus

# Cloudinary
CLOUDINARY_CLOUD_NAME=nisk3pku
CLOUDINARY_API_KEY=392936352623836
CLOUDINARY_API_SECRET=M3-V0k8kQF9DEaB2-hWyWlImcw4
